<h3 id="item-name"><%= pin.item.name %></h3>
<br>

<div class="embed-me">
  <%= link_to pin.item.name, pin.item.url %>
</div>


<% if pin.user == current_user %>

  <a href="#" data-date="<%= pin.display_date.strftime("%m-%d-%Y") %>" data-date-format="mm-dd-yyyy" class="btn btn-small rescheduler" data-id="<%= pin.id %>"><i class="icon-calendar"></i> Reschedule</a>

  <% unless pin.complete? %>
    <%= link_to stream_stream_pin_path(@stream, pin), method: :put, remote: true, class: 'btn btn-small' do %>
      <i class="icon-ok"></i> Complete!
    <% end %>
  <% end %>

  <%= link_to stream_stream_pin_path(@stream, pin), method: :delete, remote: true, confirm: "Are you sure you want to remove this item?", class: 'btn btn-small' do %>
    <i class="icon-remove"></i> Remove
  <% end %>
<% end %>

<br><br>
<% if current_user %>
  <%= render partial: 'items/pin', locals: { item: pin.item } %>


  <h4>Comments (<%= pin.item.comments.length %>)</h4>
  <br />
  <%= form_for [pin.item, Comment.new], :html => { :class => 'form-inline comments-form' }, :remote => true do |f| %>
    <%= render :partial => 'comments/form', :locals => { :f => f } %>
  <% end %>
  <br />
  <div id="comments-container-<%= pin.item.id %>">
    <% pin.item.comments.each do |comment| %>
      <%= render comment %>
    <% end %>
  </div>
<% end %>
