
<div class="row" id="library-header">
  <a class="btn btn-large" data-toggle="modal" href="#addItem"><i class="icon-plus"></i> Add an item</a>
  <span class="pull-right">Public URL: <%= link_to public_library_url(:user_id => current_user.id), public_library_path(:user_id => current_user.id) %></span>
  <br />
  <h2>Drag your pins to the right category!</h2>
</div>

<div class="row" id="pin-kanban">
  <div class="span4">
    <div class="board">
      <h2>To learn</h2>
      <hr />
      <div id="todo-items" data-status="todo" class="sortable-board">
        <%= render @pins.todo %>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="board">
      <h2>Learning</h2>
      <hr />
      <div id="doing-items" data-status="doing" class="sortable-board">
        <%= render @pins.doing %>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>

  <div class="span4">
    <div class="board">
      <h2>Learned</h2>
      <hr />
      <div id="done-items" data-status="done" class="sortable-board">
        <%= render @pins.done %>
        <div>&nbsp;</div>
      </div>
    </div>
  </div>

</div>


<div id="addItem" class="modal hide">
  <div class="container">
    <div class="row">
      <div class="modal-header">
        <h3>Add an item</h3>
      </div>
    </div>
    <div class="row">

        <%= render 'items/form' %>

    </div>
  </div>
</div>

