<div class="row-fluid">
  <div class="span2">
    <div style="text-align:right;">
      <h2 style="text-align:right;"><%= link_to stream.name, stream %></h2>
      <div class="stream-info">
        <div>Owned by <%= link_to stream.user, stream.user %></div>
        <% if stream.forks.count > 0 %><div><%= stream.forks.count %> studying</div><% end %>
      </div>
    </div>
  </div>

  <div class="span8">
    <% @stream = stream %>
    <div class="row-fluid">
      <% if stream.user == current_user %>
        <% stream.todo_pins.limit(4).each do |pin|  %>
          <%= render partial: 'pins/pin_mini', locals: { pin: pin } %>
        <% end %>
      <% else %>
        <% stream.pins.limit(4).each do |pin|  %>
          <%= render partial: 'pins/pin_mini', locals: { pin: pin } %>
        <% end %>
      <% end %>
    </div>
    <hr>
  </div>
</div>
