<% if current_user %>
  <% current_user.streams.each do |stream| %>
    <% next if stream.todo_pins.empty? %>
    <%= render stream %>
  <% end %>

  <div class="row">
    <%= render 'form' %>
    <h2>or <%= link_to "explore learning resources on Learnstream", items_path %></h2>
  </div>
  <hr>
  <h2>See who's already using Learnstream</h2>
  <% User.active(5).each do |user| %>
    <%= render partial: 'users/user_stream', locals: { user: user } %>
  <% end %>
<% else %>
  <div class="hero-unit">
    <h1>Don't just look. Learn!</h1> 
    <p>Sign up for Learnstream to schedule your activity, share what you're learning, and add material from anywhere on the web!</p>

    <div id="frontpage-login">
      <%= link_to user_omniauth_authorize_path(:facebook) do %>
        <img src="assets/fb_connect.png">
      <% end %><br />

      You can also <%= link_to "register with email", new_user_registration_path %> or
      <%= link_to "sign in", new_user_session_path %>
    </div>
  </div>
  <h2>See who's already using Learnstream</h2>
  <% User.active(5).each do |user| %>
    <%= render partial: 'users/user_stream', locals: { user: user } %>
  <% end %>
<% end %>
