<% if current_user %>
  <h2>Due for <%= Date.today.strftime("%B %e, %Y") %></h2>
  <% unless current_user.pins.due.empty? %>
    <% current_user.streams.each do |stream| %>
      <% next if stream.pins.due.empty? %>
      <%= render stream %>
    <% end %>
  <% else %>
    Nothing left to do today!
  <% end %>

  <div class="row-fluid">
    <%= render 'form' %>
    <h2>or <%= link_to "explore learning resources on Learnstream", items_path %></h2>
  </div>
  <hr>
  <h2>Courses on Learnstream</h2>
  <%= render @streams.where('user_id != ?', current_user.id) %>
<% else %>
  <h2>Courses on Learnstream</h2>
  <%= render @streams %>
<% end %>
