<% if current_user %>
  <h2>Due for <%= Date.today.strftime("%B %e, %Y") %></h2>
  <% unless current_user.pins.due.empty? %>
    <% current_user.streams.each do |stream| %>
      <% next if stream.pins.due.empty? %>
      <%= render stream %>
    <% end %>
  <% else %>
    Nothing left to do today!
  <% end %>

  <div class="row-fluid">
    <%= render 'form' %>
    <h2>or <%= link_to "explore learning resources on Learnstream", items_path %></h2>
  </div>
  <hr>
  <h2>See who's already using Learnstream</h2>
  <% User.where("id != 1").limit(5).each do |user| %>
    <%= render partial: 'users/user_stream', locals: { user: user } %>
  <% end %>
<% else %>
  <h2>See who's already using Learnstream</h2>
  <% User.where("id != 1").limit(5).each do |user| %>
    <%= render partial: 'users/user_stream', locals: { user: user } %>
  <% end %>
<% end %>
