<% if current_user %>
  <% current_user.streams.each do |stream| %>
    <% next if stream.todo_pins.empty? %>
    <%= render stream %>
  <% end %>

  <div class="row">
    <%= render 'form' %>
    <h2>or <%= link_to "explore learning resources on Learnstream", items_path %></h2>
  </div>
  <hr>
<% else %>
  <% content_for :head do %>
  <div id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-md-8">
              <h3>Find the next step<br>to <strong>build your skills</strong></h3>
            </div>
            <div class="col-md-4">
              <%= link_to user_omniauth_authorize_path(:facebook), class: 'btn btn-primary btn-lg' do %>
                Sign up with Facebook
              <% end %><br />

              You can also <%= link_to "register with email", new_user_registration_path %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 ls-info">
              <h2>Add material from anywhere on the web</h2>
            </div>
            <div class="col-md-3 ls-info">
              <h2>Make progress every day</h2>
            </div>
            <div class="col-md-3 ls-info">
              <h2>Share what you're learning</h2>
            </div>
            <div class="col-md-3 ls-info">
              <span class="label label-success pull-left">✓</span>
              <h2>Achieve your goals</h2>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
<h2>Get started with a featured stream</h2>
<%= render Stream.featured %>
