<p><%= link_to @stream.user, @stream.user %></p>
<h1 class="stream-name"><%= @stream.name %></h1>

<div class="row">
  <div class="col-md-4">
    <% if current_user %>
      <div class="fork-form">
        <%= form_for [@stream, Fork.new], :html => { :class => 'form-inline'} do |f| %>
          <div><%= f.hidden_field :target_id %></div>
          <div class="btn-group">
            <button id="fork-button-popover" rel="popover" data-content="Start learning these and future items by forking to your own stream" data-original-title="Learn <%= @stream.name %>" class="btn btn-primary no-click">Copy to stream...</button>
            
            <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" title="Select stream">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% current_user.streams.visible.each do |s| %>
                <% if s.sources.include?(@stream) %>
                  <li><a data-stream="<%= s.id %>" class="disabled" href="#"><i class="icon-random"></i> <%= s.name %></a></li>
                <% else %>
                  <li>
                  <%= image_tag "ajax-loader.gif", :class => "hidden" %>
                  <a data-stream="<%= s.id %>" href="#"><%= s.name %></a>
                  </li>
                <% end %>
              <% end %>
              <li class="divider"></li>
              <li><%= text_field_tag :new_stream, nil, :placeholder => "new stream", :class => "dropdown-input-field", :style => "margin-left: 10px; margin-bottom: 2px; width: 120px;"  %></li>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>

    <div id="stream-pins">
      <% unless @stream.pins.empty? %>
        <% last_date = @stream.pins.first.display_date %>
        <% first_date = last_date %>
        <div class="date"><%= "Day #{(last_date - first_date).to_i + 1}" %></div>
      <% end %>
      <% @stream.pins.each do |pin| %>
        <% if pin.display_date.to_date > last_date.to_date %>
          <% last_date = pin.display_date %>
          <div class="date">
            <%= "Day #{((last_date - first_date)/86400).to_i + 1}"  %>
          </div>
        <% end %>
        <div class="row item-task" data-id="<%= pin.id %>">
          <div class="col-md-2 pin-micro">
            <img src="<%= pin.item.thumb_url %>">
          </div>
          <div class="col-md-10">
            <%= link_to pin.item.name, stream_stream_pin_path(@stream, pin), { :remote => true, 'data-pin' => pin.id, 'data-stream' => @stream.id, :class => 'pin-link' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-8" id="item-area">
    <% unless @stream.pins.empty? %>
      <%= render :partial => 'pins/stream_pin',  :locals => { :pin => @display_pin }  %>
    <% else %>
      <p><%= @stream.user.name %> hasn't added any items to this stream yet!</p>
    <% end %>
  </div>
</div>
