<div class="row-fluid">
  <div class="span8">
    <h1><%= @stream.name %></h1>
  </div>
  <div class="span4">
      <p class="pull-right">Owned by <%= link_to @stream.user, @stream.user %></p>
  </div>
</div>


<div class="row-fluid">
  <div class="span4">
    <div class="tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#stream-items" data-toggle="tab">Items</a></li>
        <li><a href="#settings" data-toggle="tab">Fork Me!</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="stream-items">
          <div id="stream-pins">
            <% unless @stream.pins.empty? %>
              <% last_date = @stream.pins.first.display_date %>
              <% first_date = last_date %>
              <div class="date"><%= "Day #{(last_date - first_date).to_i + 1}" %></div>
            <% end %>
            <% @stream.pins.each do |pin| %>
              <% if pin.display_date.to_date > last_date.to_date %>
                <% last_date = pin.display_date %>
                <div class="date">
                  <%= "Day #{((last_date - first_date)/86400).to_i + 1}"  %>
                </div>
              <% end %>
              <div class="row-fluid item-task" data-id="<%= pin.id %>">
                <div class="span2 pin-micro">
                  <img src="<%= pin.item.thumb_url %>">
                </div>
                <div class="span10">
                  <%= link_to pin.item.name, stream_stream_pin_path(@stream, pin), { :remote => true, 'data-pin' => pin.id, 'data-stream' => @stream.id, :class => 'pin-link' } %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="tab-pane" id="settings">
          <% if current_user %>
            <h3>Learn about <%= @stream.name %></h3>
            <br />
            <%= render :partial => 'streams/flow_list', :locals => { :streams => @stream.sources, :message => ["This stream is currently flowing items from:", ""] } %>

            <%= render :partial => 'streams/flow_list', :locals => { :streams => @stream.targets.where(:user_id => current_user), :message => ["This stream is currently forked into some of your streams:", ""] } %>
            <hr />
            <%= render :partial => 'forks/form', :locals => {:stream => @stream } %>
          <% else %>
            <p style="padding: 10px 10px 30px 10px; margin-bottom: 20px;"><%= link_to "Sign in", user_session_path %> to fork this stream and start learning!</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="span8" id="item-area">
    <% unless @stream.pins.empty? %>
      <%= render :partial => 'pins/stream_pin',  :locals => { :pin => @display_pin }  %>
    <% else %>
      <p><%= @stream.user.name %> hasn't added any items to this stream yet!</p>
    <% end %>
  </div>
</div>
