<h1><%= @stream.name %></h1>
<p>Owned by <%= link_to @stream.user, @stream.user %></p>

<div class="row">
  <div class="span8">
    <% @stream.pins.each do |pin| %>
      <%= render partial: 'pins/pin_mini', locals: { pin: pin } %>
    <% end %>
      
  </div>
  <div class="span4">
    <h2>Learn about <%= @stream.name %></h2>
    <% unless @stream.sources.empty? %>
      <p>
      Flowing items from 
      <% @stream.sources.each do |source| %>
        <%= link_to source.name, source %>
      <% end %>
      </p>
    <% end %>

    <% if current_user %>
      <p>
      <% unless @stream.targets.where('user_id = ?', current_user).empty? %>
        This stream is currently flowing into 
        <ul>
          <% @stream.targets.where('user_id = ?', current_user).each do |target| %>
            <li><%= link_to target.name, target %></li>
          <% end %>
        </ul>
      <% else %>
        <% if @stream.user != current_user %>
          You aren't learning <%= @stream.name %> yet! You can start receiving its items in one of your own streams.
        <% end %>
      <% end %>
      </p>
    <% end %>


    <% if current_user %>
      <%= form_for [@stream, Fork.new], class: 'form-inline' do |f| %>
        <div class="control-group">
          <%= f.label :target_id, "Flow items from "+@stream.name+" to one of your existing streams:", class: 'control-label' %>
          <div class="controls">
            <%= f.select :target_id, current_user.streams.reject { |s| s == @stream }.collect {|s| [s.name, s.id]}, {:class => "input-medium" } %>
          </div>
        </div>
        <div class="control-group">
          <p>or into a new stream</p>
          <%= text_field_tag :new_stream, nil, placeholder: "stream name" %>
        </div>
        <%= f.submit 'Create flow', class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>

</div>
