<div class="row">
  <div class="span10" id="page-column">
    <h1>Give us your feedback!</h1>
    <p><strong>Email: <%= link_to "support@learnstream.org", "mailto:support@learnstream.org" %></strong></p>
    <hr />
    <h3>Really, we want to hear from you.</h3>
    <p>We're attempting to rapid-prototype this site, which means we'll try to incorporate your feedback and offer new features as quickly as possible.</p>
    <p>If you have comments, suggestions, bugs, or feedback of any kind, please email us at <%= link_to "support@learnstream.org", "mailto:support@learnstream.org" %>.</p>
    <p>You can find the code in its full (but probably buggy) glory on <%= link_to "github", "https://github.com/cicatriz/learntrace" %>.</p>
    <h3>Who we are...</h3>
    <p>We are a couple of hackers passionate about learning and learning technology.</p>
    <p><i class="icon-arrow-right"></i> <strong><%= link_to "Ryan Muller", "http://www.learnstream.org/" %></strong> is a graduate student of Human Computer Interaction at <%= link_to "Carnegie Mellon University", "http://www.hcii.cmu.edu/" %>. He likes to play DDR.</p>

    <p><i class="icon-arrow-right"></i> <strong><%= link_to "Neal Pisenti", "http://npisenti.github.com/" %></strong> will be a physics graduate student at the <%= link_to "University of Maryland", "http://physics.umd.edu/" %> come September. He often enjoys crappy movies.</p>
    <p>We both attended <%= link_to "Harvey Mudd College", "http://www.hmc.edu" %>, and have been working on several iterations of "The" educational technology platform for a while now.</p>
    <p><strong>Fun fact:</strong> We pitched an earlier iteration (along with Chandler May and Jeff Burkert) to Bill Gates once when he was visiting campus. He didn't bite, unfortunately. I guess he spent all his money on <%= link_to "Sal Khan", "http://money.cnn.com/2010/08/23/technology/sal_khan_academy.fortune/index.htm" %> :P </p>
  </div>
</div>
