<div class="item">

  <div class="img-container">
    <div class="actions">
      <% if current_user %>
        <% if current_user.pinned?(item) %>
          <%= render :partial => 'items/unpin', :locals => { :item => item }  %>
        <% else %>
          <%= render :partial => 'items/pin', :locals => { :item => item }  %>
        <% end %>
      <% end %>
    </div>
    <img src="<%= item.thumb_url %>" width="274px">
  </div>
  <h3><a href="<%= item.url %>"><%= item.name %></a></h3>

  <p><%= item.description %></p>
</div>
