<div class="item">
  <h3><a href="<%= item.url %>"><%= item.name %></a></h3>

  <img src="<%= item.thumb_url %>" width="239px">

  <p><%= item.description %></p>
  <div class="pin-btn">
    <% if current_user %>
      <% if current_user.pinned?(item) %>
        <%= '<span><i class="icon-ok"></i> Pinned!</span>'.html_safe if ! @hide_pin %>
      <% else %>
        <%= render :partial => 'items/pin', :locals => { :item => item }  %>
      <% end %>
    <% end %>
  </div>
</div>
