<div class="item">

  <div class="img-container">
    <div class="actions">
      <% if current_user %>
        <% if current_user.pinned?(item) %>
          <%= render :partial => 'items/unpin', :locals => { :item => item }  %>
        <% else %>
          <%= render :partial => 'items/pin', :locals => { :item => item }  %>
        <% end %>
      <% end %>
    </div>
    <a href="<%= item.url %>"><img src="<%= item.thumb_url %>" width="274px"></a>
  </div>
  <h3><a href="<%= item.url %>"><%= item.name %></a></h3>

  <p><%= truncate item.description, :length => 160, :separator => ' ' %></p>
</div>
