<div class="item" data-id="<%= item.id %>">
  <div class="img-container">
    <div class="actions">
      <% if current_user %>
        <% if current_user.pinned?(item) %>
          <%= render :partial => 'items/unpin', :locals => { :item => item }  %>
        <% else %>
          <%= render :partial => 'items/pin', :locals => { :item => item }  %>
        <% end %>
      <% else %>
        <%= link_to "<i class='icon-flag'></i> Sign up to pin this to your library!".html_safe, new_user_registration_path, { :class => "btn" } %>
      <% end %>
    </div>
    <a href="<%= item.url %>" class="clickable"><img src="<%= item.thumb_url %>" width="274px"></a>
  </div>
  <h3><a href="<%= item.url %>"><%= item.name %></a></h3>

  <p class="clickable"><%= truncate item.description, :length => 160, :separator => ' ' %></p>
</div>



<div class="modal hide" id="item-modal-<%= item.id %>">
  <div class="container">
    <div class="row">
      <div class="modal-header">
        <h3><a href="<%= item.url %>"><%= item.name %></a></h3>
      </div>
    </div>
    <div class="row">
      <div class="modal-body">
        <div class="img-container">
          <div class="actions">
            <% if current_user %>
              <% if current_user.pinned?(item) %>
                <%= render :partial => 'items/unpin', :locals => { :item => item }  %>
              <% else %>
                <%= render :partial => 'items/pin', :locals => { :item => item, :pin_text => "Save to Library" }  %>
              <% end %>
            <% else %>
              <%= link_to "<i class='icon-flag'></i> Sign up to pin this to your library!".html_safe, new_user_registration_path, { :class => "btn" } %>
            <% end %>
          </div>
          <% if item.thumb_url %>
            <a href="<%= item.url %>"><img src="<%= item.thumb_url %>" width="274px"></a>
          <% end %>
        </div>
        <p><%= item.description %></p>
      </div>
      <% unless item.pins.empty? %>
        <div class="pinners">
          <h4><%= pluralize item.pins.count, "person" %> learning this</h4>
          <br />
          <% item.pins.each do |pin| %>
            <% next unless pin.user %>
            <%= link_to user_path(pin.user), { :rel => "tooltip", :title => pin.user.name } do %>
              <img src="<%= pin.user.image %>">
            <% end %>
        <% end %>
        </div>
      <% end %>

    </div>
    <div class="row">
      <div class="modal-body item-tags">
        <p class="tags-container-item-<%= item.id %>">
        <b>Tags:</b>
        <% item.tags.each do |tag| %>
          <%= link_to tag.name, tag_name_path(tag.name) %>
        <% end %>
        <%= form_for [item, Tag.new], :html => { :class => 'form-inline tag-submit-form' } do |f| %>
          <%= render :partial => 'tags/form', :locals => { :f => f } %>
        <% end %>
        </p>
      </div>
    </div>



    <div class="row">
      <div class="modal-body">

        <hr>
        <h4>Comments</h4>
        <br />
        <%= form_for [item, Comment.new], :html => { :class => 'form-inline comments-form' } do |f| %>
          <%= render :partial => 'comments/form', :locals => { :f => f } %>
        <% end %>
        <br />
        <div id="comments-container-<%= item.id %>">
          <% item.comments.each do |comment| %>
            <%= render comment %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="modal-footer">
        <a class="btn btn-primary" href="<%= item.url %>">Take me there!</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
