<div class="pin-form-item pin-form-item-<%= item.id %>">
  <%= form_for(current_user.pins.build(item_id: item.id), { :html => { "data-item_id" => item.id }, :remote => true}) do |f| %>
    <div><%= f.hidden_field :item_id %></div>
    <div><%= f.hidden_field :stream_id %></div>
    <div class="btn-group">
      <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"><%= pin_text ||= "Add to stream..." %><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% current_user.streams.visible.each do |s| %>
          <% if s.items.include?(item) %>
            <li><a data-stream="<%= s.id %>" class="disabled" href="#"><i class="icon-ok"></i> <%= s.name %></a></li>
          <% else %>
            <li><a data-stream="<%= s.id %>" href="#"><%= s.name %></a></li>
          <% end %>
        <% end %>
          <li class="divider"></li>
          <li><%= f.text_field :stream, { :placeholder => "new stream", :class => "dropdown-input-field", :style => "margin-left: 10px; margin-bottom: 2px; width: 120px;" } %></li>
        </ul>
      </div>
    <% end %>
  </div>
