<% if controller.class.to_s == "StreamsController" && controller.action_name.to_s == "show" %>
  <div class="pin-form-item-<%= item.id %>">
    <%= form_for(current_user.pins.build(item_id: item.id, stream_id: @stream.id), { :html => { "data-item_id" => item.id }, :remote => true}) do |f| %>
      <div><%= f.hidden_field :item_id %></div>
      <div><%= f.hidden_field :stream_id %></div>
      <button class="btn pin-button-<%= item.id %>"><i class="icon-flag"></i> <%= pin_text ||= "Pin to stream" %></button>
    <% end %>
  </div>
<% else %>
  <div class="pin-form-item-<%= item.id %>">
    <%= form_for(current_user.pins.build(item_id: item.id), { :html => { "data-item_id" => item.id }, :remote => true}) do |f| %>
      <div><%= f.hidden_field :item_id %></div>
      <div><%= f.hidden_field :stream_id %></div>
      <div class="btn-group">
        <button class="btn"><%= pin_text ||= "Save" %></button>
        <a class="btn dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% current_user.stream_options.each do |s| %>
            <li><a data-stream="<%= s[1] %>" href="#">Add to <%= s[0] %></a></li>
          <% end %>
          <li class="divider"></li>
          <li><%= f.text_field :stream, { :placeholder => "new stream", :class => "dropdown-input-field", :style => "margin-left: 10px; margin-bottom: 2px; width: 120px;" } %></li>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
