<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
<% if current_user.pinned?(@item) %>
  <%= render 'unpin' %>
<% else %>
  <%= render 'pin' %>
<% end %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Url:</b>
  <%= @item.url %>
</p>

<p>
  <b>Tags:</b>
  <% @item.tags.each do |tag| %>
    <%= link_to tag.name, "/tags/#{tag.name}" %>
  <% end %>
  <%= form_for [@item, Tag.new], :html => { :class => 'form-inline' } do |f| %>
    <%= render :partial => 'tags/form', :locals => { :f => f } %>
  <% end %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
