<%= render :partial => 'item', :locals => { :item => @item } %>

<p class="tags-container-item-<%= @item.id %>">
  <b>Tags:</b>
  <% @item.tags.each do |tag| %>
    <%= link_to tag.name, tag_name_path(tag.name) %>
  <% end %>
  <%= form_for [@item, Tag.new], :html => { :class => 'form-inline tag-submit-form' } do |f| %>
    <%= render :partial => 'tags/form', :locals => { :f => f } %>
  <% end %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %>
