<%= render :partial => 'item', :locals => { :item => @item } %>

<p class="item-tags tags-container-item-<%= @item.id %>">
  <b>Tags:</b>
        <%= render :partial => "tags/tag", :collection => @item.tags, :as => :tag,  :locals => { :item => @item } %>
  <%= form_for [@item, Tag.new], :html => { :class => 'form-inline tag-submit-form' } do |f| %>
    <%= render :partial => 'tags/form', :locals => { :f => f } %>
  <% end %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %>
