<h1 id="stream-title" data-id="<%= @stream.id %>"><%= @stream.name %></h1>
<div class="row-fluid">
  <div class="span4">
    <div class="tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#stream-items" data-toggle="tab">Queue</a></li>
        <li><a href="#stream-history" data-toggle="tab">History</a></li>
        <li><a href="#new-item" data-toggle="tab">New item</a></li>
        <li><a href="#settings" data-toggle="tab">Settings</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="stream-items">
          <div id="stream-pins">
            <%= render 'stream_pins' %>
          </div>
        </div>

        <div class="tab-pane" id="stream-history">
          <%= render 'history' %>
        </div>

        <div class="tab-pane" id="new-item">
          <%= form_for(@item, remote: true) do |f| %>
            <%= render partial: 'items/form', locals: { f: f } %>
          <% end %>
        </div>

        <div class="tab-pane" id="settings">
          <p>Do you want to share this stream? (Other people will be able to see what you're learning)
          <%= form_for(@stream, remote: true) do |f| %>
            <%= f.radio_button("public", true) %> Yes
            <%= f.radio_button("public", false) %> No
            <%= f.submit class: 'btn btn-small' %>
          <% end %>
          </p>

          <%= render 'streams/delete' %>

          <%= render :partial => 'streams/flow_list', :locals => { :streams => @stream.sources } %>

          <p><%= pluralize @stream.targets.count, "person" %> are learning from your stream.</p>
          <%= render :partial => 'forks/form', :locals => {:stream => @stream } %>
        </div>
      </div>
    </div>
  </div>

  <div class="span8" id="item-area">
    <% unless @stream.pins.empty? %>
      <%= render partial: 'pins/stream_pin', locals: { pin: @display_pin } %>
    <% else %>
      Add some items to this course!
    <% end %>
  </div>
</div>
