<h1><%= @stream.name %></h1>

<div class="row-fluid">
  <div class="span4">

    <div id="stream-pins">

      <% unless @stream.pins.empty? %>
        <% last_date = @stream.pins.first.display_date %>
        <div class="date"><%= last_date.strftime("%B %e") %></div>
      <% end %>
      <% @stream.pins.each do |pin| %>
        <% if pin.display_date.to_date > last_date.to_date %>
          <% last_date = pin.display_date %>
          <div class="date">
            <%= last_date.strftime("%B %e") %>
          </div>
        <% end %>

        <%= render partial: 'items/item_task', locals: { pin: pin } %>
      <% end %>
    </div>
  </div>

  <div class="span8" id="item-area">
    <% unless @stream.pins.empty? %>
      <%= render partial: 'pins/stream_pin', locals: { pin: @stream.pins.todo.first } %>
    <% else %>
      Add some items to this course!
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span12">

    <hr>

    <% if current_user and @stream.user == current_user %>
      <h3>Add item</h3>

      <%= form_for Item.new, url: stream_stream_pins_path(@stream), remote: true do |f| %>
        <div class="control-group">
          <%= f.label :name, { :class => "control-label" } %>
          <div class="controls">
            <%= f.text_field :name, {:class => 'input-xlarge'} %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :description, { :class => "control-label" } %>
          <div class="controls">
            <%= f.text_area :description, { :rows => "3", :class => "input-xlarge"} %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :url, { :class => "control-label" }%>
          <div class="controls">
            <%= f.text_field :url, {:class => 'input-xlarge'}  %>
          </div>
        </div>
        <%= f.submit "Save item", :class => "btn btn-primary"  %>

      <% end %>

    <% end %>

    <h3>Recommendations</h3>
    <br />

    <% if @suggested %>
      <p>Here are some items that you may want to start learning:</p>
      <div class="span4">
        <%= render @suggested %>
      </div>
    <% else %>
      No recommendations for you. Try <%= link_to "looking for some items", items_path %>. Remember you can add any web page with the <%= link_to "bookmarklet", tools_path %>.
    <% end %>

    <hr>

    <h3>Settings</h3>

    <div>
      <p>Owned by <%= link_to @stream.user, @stream.user %></p>

      <% unless @stream.sources.empty? %>
        <p>
        Flowing items from 
        <% @stream.sources.each do |source| %>
          <%= link_to source.name, source %>
        <% end %>
        </p>
      <% end %>

      <%= render 'streams/delete' %>

      <% if current_user %>
        <hr>
        <p>
        <% unless @stream.targets.where('user_id = ?', current_user).empty? %>
          This stream is currently flowing into 
          <ul>
            <% @stream.targets.where('user_id = ?', current_user).each do |target| %>
              <li><%= link_to target.name, target %></li>
            <% end %>
          </ul>
        <% else %>
          <% if @stream.user != current_user %>
            You aren't learning <%= @stream.name %> yet! You can start receiving its items in one of your own streams.
          <% end %>
        <% end %>
        </p>
      <% end %>


      <% if current_user %>
        <%= form_for [@stream, Fork.new], class: 'form-inline' do |f| %>
          <div class="control-group">
            <%= f.label :target_id, "Flow items from "+@stream.name+" to one of your existing streams:", class: 'control-label' %>
            <div class="controls">
              <%= f.select :target_id, current_user.streams.reject { |s| s == @stream }.collect {|s| [s.name, s.id]}, {:class => "input-medium" } %>
            </div>
          </div>
          <div class="control-group">
            <p>or into a new stream</p>
            <%= text_field_tag :new_stream, nil, placeholder: "stream name" %>
          </div>
          <%= f.submit 'Create flow', class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
