<!DOCTYPE html>
<html>
  <head>
    <title>Learnstream</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <script defer src="http://balupton.github.com/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css'>
    <script src="http://scripts.embed.ly/jquery.embedly.min.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33373300-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

     </script>
   </head>
   <body>
     <div id="tag-data" data-tags="<%= Tag.name_array.join(",") %>" ></div>
     <div id="fb-root"></div>
     <script>(function(d, s, id) {
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) return;
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=488975377784488";
       fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));</script>
     <%= render "layouts/application/header" %>
     <div class="container-fluid">

       <% if notice %>
         <div class="alert alert-success">
           <a class="close" data-dismiss="alert" href="#">×</a>
           <%= notice %>
         </div>
       <% end %>

       <% if alert %>
         <div  class="alert alert-error">
           <a class="close" data-dismiss="alert" href="#">×</a>
           <%= alert %>
         </div>
       <% end %>

       <%= yield %>
     </div>

     <script type="text/javascript">
       var uvOptions = {};
(function() {
 var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
 uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/XYsiaRleIqE7w8lDkS3Q.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
 })();
</script>
</body>
</html>
